<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jirath.jirathblog2.dao.BlogColumnDao">
    <insert id="addPsgToColumn" parameterType="com.jirath.jirathblog2.pojo.BlogColumn">
        INSERT INTO blog_column (blog_id, column_id) VALUES (#{blogId},#{columnId})
    </insert>
    <delete id="deleteByBlogId" parameterType="int">
        DELETE FROM blog_column WHERE blog_id=#{value}
    </delete>
    <select id="getAll" resultType="com.jirath.jirathblog2.pojo.BlogColumn">
        SELECT * FROM blog_column
    </select>
    <select id="getMsgByColumn" resultType="integer">
        SELECT blog_id FROM blog_column WHERE column_id=#{value}
    </select>
</mapper>