<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jirath.jirathblog2.dao.TagDao">
    <insert id="newTag" parameterType="Tag">
        INSERT INTO tag (tag__name) values (#{tagName})
    </insert>
    <update id="fixTag" parameterType="Tag">
        UPDATE tag SET tag__name=#{tagName}
        WHERE tag_id=#{tagId}
    </update>
    <delete id="delTag" parameterType="int">
        DELETE FROM tag WHERE tag_id=#{value}
    </delete>
    <select id="allTag" resultType="com.jirath.jirathblog2.pojo.Tag">
        SELECT * FROM tag
    </select>
    <select id="getMsgById" resultType="com.jirath.jirathblog2.pojo.Tag" parameterType="int">
        SELECT * FROM  tag WHERE tag_id=#{value}
    </select>

</mapper>