<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jirath.jirathblog2.dao.UserIdentityDao">
    <insert id="insertUserIdentity" parameterType="UserIdentity">
        INSERT INTO user_identity values (#{userId},#{userIdentity})
    </insert>

    <select id="getAll" resultType="com.jirath.jirathblog2.pojo.UserIdentity">
        SELECT * FROM user_identity
    </select>
    <select id="getIdentityById" resultType="java.lang.Integer" parameterType="int">
        SELECT user_identity FROM user_identity WHERE user_id=#{value}
    </select>
</mapper>